<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>LOVELACE SKILLS</title>
</head>
<body>
  <h1>Unconventional Skills That Will Get You Hired!!</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        
      </li>
    <% }); %>
  </ul>
  <!--Display an Add Skill link on the index view that when clicked, displays a new view that includes a form for entering a new Dev Skill.  -->
  <a href="/skills/new">Add New Skill</a>
  <!-- we will add an a href with the link of the views/skills/new.js, and than will go to the page, IT should return an error before we create the view/skills/view -->
</body>
</html>

